/* Import font */
@import url('https://fonts.googleapis.com/css?family=Lato:300');

/* General styles */
body {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
  background-color: #161616;
  background-size: cover;
  padding: 4em;
  margin: auto;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

/* Styles for box-content */

.location {
  font-size: 3em;  
}

.temp-toggle, .temp {
  display: inline;
  font-size: 4em;
}

.temp-toggle:hover {
  color: #bc8203;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.weather-icon {
  background-image: url("");
  background-size: cover;
  margin: -2em auto;
  height: 14em;
  width: 14em;
  filter: invert(100%);
}

.description {
  font-size: 1.5em;
  margin-top: -1.75em;
}

/* Styles for the dividing line */
.line {
  width: 23em;
  border-radius: 10px;
}

/* Styles for content of info-box */
.info {
  margin: 1.5em auto;
  max-width: 18em;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #bc8203;
  transition: all ease-in 0.25s;
}
